/*Css del index*/
#index-titulo{
    color: #c7e70f;
    text-align: center;
    text-decoration: underline #e53170;
}


.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: burlywood;
    padding: 10px;
    border: 2px solid black;
}

body{
    background-color: cadetblue
}

@media only screen and (max-width: 600px){
    body {
        background-color: rgb(20, 220, 53);
    }
}

.flex-container div{
    display: flex;
    flex-flow: row wrap;
    background-color: gainsboro;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;
}

.flex-container__imagenes-index img{
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 200px;
    margin: auto;
}

/* Css de acerca de...*/
.home{
    text-align: center;
    font-size: 100px;
}

/*Css de contacto*/
#titulo-formulario{
    text-align: center;
    font-size: 18px; 
}

.form-container{
    display: flex;
    background-color: burlywood;
    padding: 10px;
    border: 2px solid black;
}

.form-container div{
    display: flex;
    flex-flow: row wrap;
    background-color: gainsboro;
    width: 300px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;
}



