body    {
    background-color: rgb(29, 161, 89);
}

h1{
    font-size: 100px;
    color: crimson;
    background-color: coral;
    text-align: center;
}
li  {
    font-size: 40px;
    color: crimson;
    background-color: rgb(39, 35, 34);
    text-align: right;
}
text    {
    font-size: 40px;
    color: rgb(220, 20, 130);
    background-color: rgb(116, 39, 11);
    text-align: left;
}
form {
    font-size: 40px;
    color: darkmagenta;
    background-color: rgb(216, 137, 34);
    text-align: center;
}
.tardis{
    color: firebrick;
    background-color: darkblue;
}
.fraseuno{
    background-color: blueviolet;    
}
.frasedos{
    background-color: darkorange;
}
.frasetres{
    background-color: darkslateblue;
}
.frasecuatro{
    background-color: deeppink;
}